*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.content__list-container {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  position: relative;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  flex-grow: 1;
  border: none;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  background-color: transparent;
  color: white;
  border-color: white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  cursor: pointer;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  width: 225px;
  height: 27px;
  border-color: #ffffff;
  gap: 5px;
  appearance: none;
  cursor: pointer;
  border-left: none;
  border-right: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-style: solid;
}

.search-form__submit-button {
  align-self: flex-end;
  cursor: pointer;
}

.more-button {
  width: 100%; 
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content__list-item {
  padding: 0 3px; 
  cursor: pointer;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px; 
  padding: 2px; 
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link {
  outline: none; 
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:active {
  background-color: #545050; 
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__list-container {
  position: relative;
}